@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0
}

.sliders {
    width: 100%;
    padding: 10px 0;
    background: #282828;
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.col-4 {
    float: left;
    display: inline-block;
    width: 33.3333%;
    text-align: center;
}

.col-4 label {width: 100%;display: inline-block;margin-bottom: 3px;}

#container {
    height: calc(100% - 120px);
    padding: 30px;
    width: 100%;
    margin: 0 auto;
    margin-left: 0
}

* {
    box-sizing: border-box;
}

.filter {
    position: absolute;
    margin: 0;
    bottom: 0;
    display: inline-block;
    background: #282828;
    width: 100%;
    padding: 20px 50px 0;
}

.slider-tick-label-container {
    width: 100%;
    position: fixed;
    bottom: 15px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #7cb5ec !important;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}
