body {
    overflow: hidden;
    font-family: 'open sans', sans-serif;
    margin: 0
}

* {
    box-sizing: border-box;
}

.filter {
    position: absolute;
    margin: 0;
    bottom: 0;
    display: inline-block;
    background: #8d9758;
    width: 100%;
    padding: 20px 50px 16px;
}